nav:not(#top-right) {
    display: block;
}

.breadcrumb, #menu {
    width: auto;
    float:none;
    flex:none;
    text-align: center;
    border-left: none;
    border-right: none;
}

.breadcrumb {
   border-bottom: none;
}

/*.menuLogMob {
    position: fixed;
    bottom: 2em;
    right: 2em;
    top: initial;
    z-index: 10;
}*/

/* .menuLogMobStop {
    position: absolute;
    top: initial;
    right: 2em;
} */

header {
    padding: 0em;
    margin: 0em;
}

main {
    margin: 3em;
}

#mini_breadcrumb{
    display: block;
    text-align: center;
    font-size: 1.1em;
}

/* #top-right{
    display: none;
} */

#big_breadcrumb {
    display: none;
}

#service{
    max-width: 35vw;
}

header {
    padding: 0em;
    margin: 0em;
}

@media screen and (max-width:920px), only screen and (max-device-width:920px) {

    header, main{
        font-size: 1.1em;
        text-align: center;
    }

    #menu {
        margin-bottom: 6em;
    }

    footer{
        font-size: 1.1em;
    }

    #contain{
        display: block;
        /* text-align: center; */
    }
    
    #help{
        margin-top: 3em;
    }
    
    #signup, #login, #changePsw, #datiUtente, .sezionePUtente dl, #insertRes{
        border: 1px solid black;
        padding: 1.1em 1em 1em 0.9em;
    }

    #prenotazioniUtente, #prenotazioniAmministratore{
        padding-top: 0em;
    }

    #tabellaPrenotazioniUtente thead, #tabellaPrenotazioniUtente tfoot, #tabellaPrenotazioniAmministratore thead, #tabellaPrenotazioniAmministratore tfoot, #tabClienti thead, #tabClienti tfoot{
        display: none;
    }

    #tabellaPrenotazioniUtente tr, #tabellaPrenotazioniUtente th, #tabellaPrenotazioniUtente td, #tabellaPrenotazioniAmministratore tr, #tabellaPrenotazioniAmministratore th, #tabellaPrenotazioniAmministratore td, #tabClienti tr, #tabClienti th, #tabClienti td {
        display: block;
    }

    #tabellaPrenotazioniUtente th[data-title]:before, #tabellaPrenotazioniUtente td[data-title]:before, #tabellaPrenotazioniAmministratore th[data-title]:before, #tabellaPrenotazioniAmministratore td[data-title]:before, #tabClienti th[data-title]:before, #tabClienti td[data-title]:before{
        content: attr(data-title) "\00A0";
        font-weight: bold;
    }

    .header{
        background-color: var(--mainColorAlpha);
        border: none;
        border-bottom: 1px solid black;
        border-top: 2px solid black;
        font-weight: bold;
    }

    #tabellaPrenotazioniUtente, #tabClienti{
       border: 2px solid black;
       border-top: none;
       margin-bottom: 4em;
    }

    #tabellaPrenotazioniUtente td:not(.header), #tabellaPrenotazioniAmministratore td:not(.header), #tabClienti td:not(.header) {
        border:none;
        border-top: 1px solid black;
    }

    #signup label, #login label, #insertRes label, #datiUtente label, #changePsw label{
        margin-right: 1em;
    }

    #signup input, #login input, #insertRes input, #datiUtente input, #changePsw input{
        margin-right: 1em;
    }

    #registrazione{
        flex: none;
    }
    
    #accesso{
        flex: none;
    }
    
    #mini_breadcrumb{
        display: block;
        text-align: center;
    }

    /* #top-right{
        position: fixed;
        right: 2em;
        bottom: 2em;
        z-index: 10;
    } */

    .menuLogMob {
        position: fixed;
        bottom: 2em;
        right: 2em;
        top: initial;
        z-index: 10;
    }
    
    .menuLogMobStop {
        position: absolute;
        top: initial;
        right: 2em;
    }

    #tabClienti{
        height: 100%;
        width: 100%;
    }
    
    #insertResAmm{
        max-width: none
    }

    #loginMenu{
        position: relative; 
    }

    #adminReservationButton{
        margin-bottom: 4em;
    }

    #tabellaPrenotazioniAmministratore{
        margin-bottom: 2em;
    }

    /* #top-right{
        display: none;
    } */

    /* #loginMenu{
        width: 100%;
        display: flex;
        align-content: center;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }

    #loginMenu li{
        display: inline;
        padding: 0.5em 1em 0.5em 1.0em;
        margin: 0em auto 0em auto;
    } */

    main {
        margin: 1em;
    }

    .contenitore_carte > li, .contenitore_carte > div{
        margin: 1em 0em 4em 0em;
    }

    .item-footer table th, .item-footer table td, #tabellaPrenotazioniAmministratore th, #tabClienti  th, #tabellaPrenotazioniUtente  th, #tabellaPrenotazioniAmministratore td, #tabClienti  td, #tabellaPrenotazioniUtente  td{
        padding: 0.3em;
    }

    #big_breadcrumb {
        display: none;
    }

    .carta {
        color:black;
    }

    #service{
        max-width: 35vw;
    }

    #puliziaViso{
        background-image: url("../IMG/VISO/PULIZIA_VISO/Viso-opaco60.jpeg");
    }

    #idratazione{
        background-image:url("../IMG/VISO/TRATTAMENTI_IDRATANTI/idratanti-opaco60.jpeg") ;
    }

    #antiage{
        background-image:url("../IMG/VISO/ANTI-AGE/antiage-opaco60.jpeg") ;
    }

    #effettoLifting{
        background-image:url("../IMG/VISO/EFFETTO_LIFTING/liftingeffect-opaco60.jpeg") ;
    }

    #rimpolpanti{
        background-image:url("../IMG/VISO/TRATTAMENTI_RIMPOLPANTI/rimpolpanti-opaco60.png") ;
    }

    #sebo-regolatori{
        background-image:url("../IMG/VISO/TRATTAMENTI_SEBO-REGOLATORI/seboregolatori-opaco60.jpeg") ;
    }

    #desensibilizzanti{
        background-image:url("../IMG/VISO/TRATTAMENTI_DESENSIBILIZZANTI/desensibilizzante-opaco60.jpeg") ;
    }

    #lucePulsata{
        background-image: url("../IMG/MACCHINARI/LUCE_PULSATA/pulsata-opaco60.jpeg");
    }

    #radiofrequenza{
        background-image:url("../IMG/MACCHINARI/RADIOFREQUENZA/radiofrequenza-opaco60.jpeg") ;
    }

    #ultrasuoni{
        background-image:url("../IMG/MACCHINARI/ULTRASUONI/ultrasuoni-opaco60.jpeg") ;
    }

    #elettrocoagulatore{
        background-image:url("../IMG/MACCHINARI/ELETTROCOAGULATORE/elettrocoagulatore-opaco60.jpeg") ;
    }

    #elettroscultore{
        background-image:url("../IMG/MACCHINARI/ELETTROSCULTORE/elettroscultore-opaco60.jpeg") ;
    }

    #elettroporatore{
        background-image:url("../IMG/MACCHINARI/ELETTROPORATORE/elettroporatore-opaco60.jpeg") ;
    }

    #pressoterapia{
        background-image:url("../IMG/MACCHINARI/PRESSOTERAPIA/pressoterapia-opaco60.jpeg") ;
    }

    #brush{
        background-image:url("../IMG/MACCHINARI/BRUSH/brush-opaco60.jpeg") ;
    }

    #massaggioEndodermico{
        background-image:url("../IMG/MACCHINARI/MASSAGGIO_ENDODERMICO/endodermico-opaco60.jpeg") ;
    }

    #ceretta{
        background-image:url("../IMG/CORPO/EPILAZIONE/CERETTA/ceretta-opaco60.jpeg") ;
    }

    #brasiliana{
        background-image:url("../IMG/CORPO/EPILAZIONE/BRASILIANA/brasiliana-opaco60.jpeg") ;
    }

    #pastaZucchero{
        background-image:url("../IMG/CORPO/EPILAZIONE/PASTA_ZUCCHERO/pastaDiZucchero-opaco60.jpeg") ;
    }

    #rilassante{
        background-image: url("../IMG/CORPO/MASSAGGIO/RILASSANTE/rilassante-opaco60.jpeg");
    }

    #olistico{
        background-image: url("../IMG/CORPO/MASSAGGIO/OLISTICO/olistico-opaco60.jpeg");
    }

    #decontratturante{
        background-image: url("../IMG/CORPO/MASSAGGIO/DECONTRATTURANTE/decontratturante-opaco60.jpeg");
    }

    #tonificante{
        background-image: url("../IMG/CORPO/MASSAGGIO/TONIFICANTE/tonificante-opaco60.jpeg");
    }

    #linfodrenante{
        background-image: url("../IMG/CORPO/MASSAGGIO/LINFODRENANTE_EMOLINFATICO/linfo-opaco60.jpeg");
    }

    #modellante{
        background-image: url("../IMG/CORPO/MASSAGGIO/MODELLANTE/modellante-opaco60.jpeg");
    }

    #posa{
        background-image: url("../IMG/CORPO/MANICURE_PEDICURE/SMALTO/smalto-opaco60.jpeg");
    }

    #semipermanente{
        background-image: url("../IMG/CORPO/MANICURE_PEDICURE/SEMIPERMANENTE/semipermanente-opaco60.jpeg");
    }

    #gel{
        background-image: url("../IMG/CORPO/MANICURE_PEDICURE/GEL/gel-opaco60.jpeg");
    }

    #curativa{
        background-image: url("../IMG/CORPO/MANICURE_PEDICURE/CURATIVA/curativa-opaco60.jpeg");
    }
}