/* ---------------------------------------------- */
/* ---------------------------------------------- */
/* PRINT */
/* ---------------------------------------------- */
/* ---------------------------------------------- */

:root{
    --mainColor: #ffcc99;
    /*--secondaryColor: #b32821; un pelo sotto al contrasto per l'accessibilita !!!*/
    --secondaryColor: #800000;
    --mainColorAlpha: #d17e7a;
    --visitedLinkClearBackground: #C64600;
    --linkClearBackground: #00166b;
    --breadcrumbVisitedLink: #241F31;
    --linkDarkBackground: white;
    --goodAction: #96be25;
    --badAction: #e0694b;
    --formInput: #f6f2f1;
}
* {
    padding: 0em;
    margin: 0em;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    background-color: var(--mainColor);
    padding-bottom: 0.2em;
    align-items: center;
}

header > h1 {
    font-size: 3em;
    flex:auto;
}
header > img {
    width: 10em;
    height: auto;
    padding: 0em;
    margin: 0em;
    float: left;
}

#top-right {
    display: none;
}

#menu{
    display: none;
}

.breadcrumb {
    display: none;
}

h2 {
    color: var(--secondaryColor);
    text-align: left;
    margin-top: 1em;
    /* margin-bottom: 1em; */
}

.error{
    text-align: center;
}

/* main{
    margin-top: -4em;
} */

table,th,td{
    border:1px solid #000;
    border-collapse: collapse;
}

.contenitore_carte>li,
.contenitore_carte>div>dt {
    font-size: large;
    font-weight: bold;
    text-align: left;
}

footer{
    position:static;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #ffcc99;
}



.contenitore-footer {
    display: flex;
    margin: 0 auto;
}

.item-footer {
    flex: 1em 1em;
    margin: 1em 1em ;
    white-space: nowrap;
    max-width: 100%;
}

.item-footer>dd{
    text-align: center;
}


.item-footer table{
    margin: 0 auto;
    /* border-bottom: hidden; */
    border-left:hidden;
    border-right: hidden;
    margin-right: 1em;
}

.item-footer tr:nth-child(even) {background-color: #ffe0c1}


.item-footer table th, td{
    padding: 0.5em 1.5em 0.5em 1.5em;
}

.item-footer table>caption{
    font-weight: bold;
    font-size: large;
}

.item-footer>dt{
    font-size: large;
    font-weight: bold;
    text-align: center;
}

a{
    color: #000;
    text-decoration: none;
}

.print-errorText{
    text-align: left;
}

.print-invisible{
    display: none;
}

main{
    margin-bottom: 1em;
}

.carta li,.bulletNone{
    margin-left: 1em;
}

/* LOGIN PAGE */

#registrazione, #accesso, #visualizzazionePrenotazione, #userData, #cambioPassword{
    flex: auto;
}
 
#signup, #login, #changePsw, #insertRes, #datiUtente, #changePsw{
    display: grid;
    max-width: 50%;
    /* padding: 2em 2em 0em 2em; */
    row-gap: 0.5em;
}

form input, #customers , #serviceAdmin, #service{
    border-radius: 0.5em;
    /* border:1px solid black; */
    padding: 0.4em;
    background-color: var(--formInput);
    /* text-align:center; */
}

/* TABELLE */
table th {
    background-color: var(--mainColorAlpha);
}

#tabellaPrenotazioniAmministratore tr:nth-child(odd), #tabClienti  tr:nth-child(odd),#tabellaPrenotazioniUtente  tr:nth-child(odd){background-color: #ffeede;}

/* PAGINE PRENOTAZIONI */
#tabellaPrenotazioniUtente, #tabellaPrenotazioniAmministratore{
    margin: 0 auto;
    height: 100%;
    width: 100%;
    text-align: center;
}

#insertResAmm{
    display: grid;
    /* padding: 2em 2em 1em 2em;  */
    row-gap: 0.5em;
    /* margin-left: auto; */
    /* margin-right: auto; */
    max-width: 50%;
    /* border: 1px solid black; */
    margin-bottom: 1em;
}
