:root{
    --mainColor: #ffcc99;
    /*--secondaryColor: #b32821; un pelo sotto al contrasto per l'accessibilita !!!*/
    --secondaryColor: #800000;
    --mainColorAlpha: #d17e7a;
    --visitedLinkClearBackground: #C64600;
    --linkClearBackground: #00166b;
    --breadcrumbVisitedLink: #241F31;
    --linkDarkBackground: white;
}

* {
    padding: 0em;
    margin: 0em;
    font-family: "Arial" , sans-serif;
}

header{
    display: flex;
    background-color: var(--mainColor);
    padding-bottom: 0.2em;
    align-items: center;
}

header > h1 {
    font-size: 3em;
    flex:auto;
}

header h1{
    background-image: url(../IMG/header.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: calc(50vw - 80px);
    text-indent: -9999px;
    line-height: 1.5em;
    font-size: 6em;
}

#top-right {
    display: flex;
    padding: 1em 1em 0em 0em;
    margin: 0em;
    float: right;
    align-items: center;
}

#top-right > button{
    background-image: url("../IMG/user.png");
    background-size: 2em;
    background-color: var(--mainColor);
    background-repeat: no-repeat;
    padding: 1em;
    border:none;
    border-radius: 1.1em;
    cursor:pointer;
    float: right;
}

#contentUser{
    background-color: var(--secondaryColor);
    color: var(--mainColor);
    min-width: 8em;
    box-shadow: 0px 2px 4px 0px rgb(0 0 0 / 20%);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 0.5em;
    padding: 0.4em;
    flex: 1;
}

#logOut{
    display: none;
}

#contentUser a:link{
    color: var(--linkDarkBackground);
}

#contentUser a:visited{
    color: var(--mainColor);
}

nav  ul{
    list-style-type: none;
    display:none;
}

nav {
    display: flex;
}

h2 {
    color: var(--secondaryColor);
    text-align: center;
    margin-top: 3em;
    margin-bottom: 1em;
}

main {
    margin: 3em 3em 3em 3em;
}

#menu {
    background-color: var(--secondaryColor);
    font-size: 1.1em;
    width: 35%;
    flex: auto;
    float: left;
    text-align: center;
}

#menu a:link{
    color: var(--linkDarkBackground);
}

#menu a:visited{
    color: var(--mainColor);
}

.buttonMenu {
    background-color: var(--secondaryColor);
    color: var(--mainColor);
    font-weight: bold;
    align-items: center;
    position: relative;
    cursor: pointer;
    border: none;
    padding: 0.9em 1em 0.9em 1em;
    width: 100%;
}


.menuCont {
    background-color: var(--secondaryColor);
    color: var(--mainColor);
    position: absolute;
    width: -webkit-fill-available;
    width: -moz-available;
    margin: auto;
    border: 1px solid var(--mainColorAlpha);
}

.menuCont li{
    padding: 0.2em 0em 0.2em 0em;
    border: 1px solid var(--mainColorAlpha);
}

.menuCont li a{
    display: block;
    width: 100%;
}

#breadcrumb {
    display: block;
    background-color: var(--mainColorAlpha);
    color: black;
    font-size: 1.1em;
    padding: 0.5em 0em 0.5em 1.0em;
    width: 65%;
    flex: auto;
    float: left;
}

#bredcrumb > p {
    margin-top:auto;
}

#breadcrumb a:link{
    color:var(--linkClearBackground);
}

#breadcrumb a:visited{
    color: var(--breadcrumbVisitedLink);
}

table,th,td{
    border:1px solid #000;
    border-collapse: collapse;
}

th, td{
    padding: 0.5em;
}

.contenitore_carte>li,
.contenitore_carte>div>dt,
.item-footer>dt{
    font-size: large;
    font-weight: bold;
    text-align: center;
}

.show{
    display: block ;
}

.contenitore_carte{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;  
    list-style-type: none;
}

.contenitore_carte > li, .contenitore_carte > div{
    margin: 1em 1em 4em 1em;
    padding: 10px;
/*    border-radius: 15px;*/
    flex: 1 1 20em;
    max-width: 53em;
}

.contenitore_carte a:link{
    color:var(--linkClearBackground);
}

.contenitore_carte a:visited{
    color: var(--visitedLinkClearBackground);
}

.carta{
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    border: 1px solid black;
    min-height: 12em;    /* Dipendiamo dalle macchine (da questa riga in particolare)*/
    background-color: var(--mainColor);
    padding: 1em 1em 0em 1em;
    /*border-radius: 10vw;*/
    max-width: 100%;
    height: 100%;
    color: rgba(0,0,0,0);
}

.carta li{
    margin-left: 1em;
}

.carta:hover{
    color: black;
}

.error{
    text-align: center;
}


footer{
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #ffcc99;
}

footer a:link{
    color: var(--linkClearBackground);
}

footer a:visited{
    color: var(--visitedLinkClearBackground);
}

.contenitore-footer {
    display: flex;
    flex-wrap: wrap;
    max-width: 50em;
    margin: 0 auto;
}

.item-footer {
    flex: 1 1 10em;
    margin: 1em 1em ;
    /* border: 1px solid black; */
    white-space: nowrap;
    max-width: 100%;
}

.item-footer>dd{
    text-align: center;
    /* border: 1px solid black; */
}

.item-footer table{
    margin: 0 auto;
    border-bottom: hidden;
    border-left:hidden;
    border-right: hidden;
}

.item-footer table tr th{
    border: 2px black solid;
}

.item-footer tr:nth-child(even) {background-color: #ffe0c1}

.item-footer table th, td{
    padding: 0.5em 1.5em 0.5em 1.5em;
}

.item-footer table>caption{
    font-weight: bold;
    font-size: large;
}

#trattamenti{
    background-image:url("../IMG/INDEX/TRATTAMENTI_MACCHINARI/trattamentiMacchinari.jpeg") ;
}

#trattamenti:hover, #trattamenti:active{
    background-image:url("../IMG/INDEX/TRATTAMENTI_MACCHINARI/trattamentiMacchinari-zoom.jpeg") ;
}

#consulenze{
    background-image:url("../IMG/INDEX/CONSULENZE/consulenze.jpeg") ;
}

#consulenze:hover, #consulenze:active{
    background-image:url("../IMG/INDEX/CONSULENZE/consulenze-zoom.jpeg") ;
}

#prenotazione{
    background-image:url("../IMG/INDEX/CALENDARIO/calendario.jpeg") ;
}

#prenotazione:hover, #prenotazione:active{
    background-image:url("../IMG/INDEX/CALENDARIO/calendario-zoom.jpeg") ;
}

#viso{
    background-image:url("../IMG/TRATTAMENTI_MACCHINARI/VISO/Viso.jpeg") ;
}

#viso:hover, #viso:active{
    background-image:url("../IMG/TRATTAMENTI_MACCHINARI/VISO/Viso-zoom.jpeg") ;
}

#corpo{
    background-image:url("../IMG/TRATTAMENTI_MACCHINARI/CORPO/Corpo.jpeg") ;
}

#corpo:hover, #corpo:active{
    background-image:url("../IMG/TRATTAMENTI_MACCHINARI/CORPO/Corpo-zoom.jpeg") ;
}

#corpo:active{
    background-image:url("../IMG/TRATTAMENTI_MACCHINARI/CORPO/Corpo-opaco-zoom.jpeg") ;
}

#macchinari{
    background-image:url("../IMG/TRATTAMENTI_MACCHINARI/MACCHINARI/macchinari.jpeg") ;
}

#macchinari:hover, #macchinari:active{
    background-image:url("../IMG/TRATTAMENTI_MACCHINARI/MACCHINARI/macchinari-zoom.jpeg") ;
}

#puliziaViso{
    background-image: url("../IMG/VISO/PULIZIA_VISO/Viso.jpeg");
}

#idratazione{
    background-image:url("../IMG/VISO/TRATTAMENTI_IDRATANTI/idratanti.jpeg") ;
}

#antiage{
    background-image:url("../IMG/VISO/ANTI-AGE/antiage.jpeg") ;
}

#effettoLifting{
    background-image:url("../IMG/VISO/EFFETTO_LIFTING/liftingeffect.jpeg") ;
}

#rimpolpanti{
    background-image:url("../IMG/VISO/TRATTAMENTI_RIMPOLPANTI/rimpolpanti.png") ;
}

#sebo-regolatori{
    background-image:url("../IMG/VISO/TRATTAMENTI_SEBO-REGOLATORI/seboregolatori.jpeg") ;
}

#desensibilizzanti{
    background-image:url("../IMG/VISO/TRATTAMENTI_DESENSIBILIZZANTI/desensibilizzante.jpeg") ;
}

#desensibilizzanti:hover{
    background-image:url("../IMG/VISO/TRATTAMENTI_DESENSIBILIZZANTI/desensibilizzante-opaco.jpeg") ;
}

#epilazione{
    background-image:url("../IMG/CORPO/EPILAZIONE/epilazione.jpeg") ;
}

#epilazione:hover, #epilazione:active{
    background-image:url("../IMG/CORPO/EPILAZIONE/epilazione-zoom.jpeg") ;
}

#massaggio{
    background-image:url("../IMG/CORPO/MASSAGGIO/massaggio.jpeg") ;
}

#massaggio:hover, #messaggio:active{
    background-image:url("../IMG/CORPO/MASSAGGIO/massaggio-zoom.jpeg") ;
}

#manicurePedicure{
    background-image:url("../IMG/CORPO/MANICURE_PEDICURE/manicure.jpeg") ;
}

#manicurePedicure:hover, #manicurePedicure:active{
    background-image:url("../IMG/CORPO/MANICURE_PEDICURE/manicure-zoom.jpeg") ;
}

#lucePulsata{
    background-image: url("../IMG/MACCHINARI/LUCE_PULSATA/pulsata.jpeg");
}

#radiofrequenza{
    background-image:url("../IMG/MACCHINARI/RADIOFREQUENZA/radiofrequenza.jpeg") ;
}

#ultrasuoni{
    background-image:url("../IMG/MACCHINARI/ULTRASUONI/ultrasuoni.jpeg") ;
}

#elettrocoagulatore{
    background-image:url("../IMG/MACCHINARI/ELETTROCOAGULATORE/elettrocoagulatore.jpeg") ;
}

#elettroscultore{
    background-image:url("../IMG/MACCHINARI/ELETTROSCULTORE/elettroscultore.jpeg") ;
}

#elettroporatore{
    background-image:url("../IMG/MACCHINARI/ELETTROPORATORE/elettroporatore.jpeg") ;
}

#pressoterapia{
    background-image:url("../IMG/MACCHINARI/PRESSOTERAPIA/pressoterapia.jpeg") ;
}

#brush{
    background-image:url("../IMG/MACCHINARI/BRUSH/brush.jpeg") ;
}

#massaggioEndodermico{
    background-image:url("../IMG/MACCHINARI/MASSAGGIO_ENDODERMICO/endodermico.jpeg") ;
}

#ceretta{
    background-image:url("../IMG/CORPO/EPILAZIONE/CERETTA/ceretta.jpeg") ;
}

#brasiliana{
    background-image:url("../IMG/CORPO/EPILAZIONE/BRASILIANA/brasiliana.jpeg") ;
}

#pastaZucchero{
    background-image:url("../IMG/CORPO/EPILAZIONE/PASTA_ZUCCHERO/pastaDiZucchero.jpeg") ;
}

#rilassante{
    background-image: url("../IMG/CORPO/MASSAGGIO/RILASSANTE/rilassante.jpeg");
}

#olistico{
    background-image: url("../IMG/CORPO/MASSAGGIO/OLISTICO/olistico.jpeg");
}

#decontratturante{
    background-image: url("../IMG/CORPO/MASSAGGIO/DECONTRATTURANTE/decontratturante.jpeg");
}

#tonificante{
    background-image: url("../IMG/CORPO/MASSAGGIO/TONIFICANTE/tonificante.jpeg");
}

#linfodrenante{
    background-image: url("../IMG/CORPO/MASSAGGIO/LINFODRENANTE_EMOLINFATICO/linfo.jpeg");
}

#modellante{
    background-image: url("../IMG/CORPO/MASSAGGIO/MODELLANTE/modellante.jpeg");
}

#posa{
    background-image: url("../IMG/CORPO/MANICURE_PEDICURE/SMALTO/smalto.jpeg");
}

#semipermanente{
    background-image: url("../IMG/CORPO/MANICURE_PEDICURE/SEMIPERMANENTE/semipermanente.jpeg");
}

#gel{
    background-image: url("../IMG/CORPO/MANICURE_PEDICURE/GEL/gel.jpeg");
}

#curativa{
    background-image: url("../IMG/CORPO/MANICURE_PEDICURE/CURATIVA/curativa.jpeg");
}

#contain {
    display: flex;
    /* text-align: center; */
}

#contain input {
    padding: 0.2em;
    margin: 0.2em;
}


#registrazione {
    flex: auto;
}

#accesso {
    flex: auto;
}