:root{
    --mainColor: #ffcc99;
    /*--secondaryColor: #b32821; un pelo sotto al contrasto per l'accessibilita !!!*/
    --secondaryColor: #800000;
    --mainColorAlpha: #d17e7a;
    --visitedLinkClearBackground: #C64600;
    --linkClearBackground: #00166b;
    --breadcrumbVisitedLink: #241F31;
    --linkDarkBackground: white;
}

* {
    padding: 0em;
    margin: 0em;
    font-family: "Arial" , sans-serif;
}

body{
    min-height: 100%;
}

header{
    display: flex;
    background-color: var(--mainColor);
    padding-bottom: 0.2em;
    align-items: center;
}
    

header h1{
    background-image: url(../IMG/header.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: calc(50vw - 80px);
    text-indent: -9999px;
    line-height: 1.5em;
    font-size: 6em;
    flex:auto;
}

#top-right {
    display: flex;
    padding: 1em 1em 0em 0em;
    margin: 0em;
    float: right;
    align-items: center;
}

#top-right > button{
    background-image: url("../IMG/user.png");
    background-size: 3em;
    background-color: var(--mainColor);
    background-repeat: no-repeat;
    padding: 1.5em;
    border:none;
    border-radius: 3em;
    cursor:pointer;
    float: right;
    position: relative;
    margin: 1.1em 0em;
}

#contentUser{
    background-color: var(--secondaryColor);
    color: var(--mainColor);
    min-width: 8em;
    box-shadow: 0px 2px 4px 0px rgb(0 0 0 / 20%);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 0.5em;
    flex: 1;
}

#logOut, #loginMenu {
    display: none;
}

#contentUser a:link{
    color: var(--linkDarkBackground);
}

#contentUser a:visited{
    color: var(--mainColor);
}

#top-right li {
    text-align: center;
    /* display: block;
    padding:0.3em;
    width: 91%;
    width: -webkit-fill-available;
    width: -moz-available;
    width: fill-available;
    border: 1px solid black; */
}

#top-right li a {
    display: block;
    padding:0.3em;
    width: 91%;
    width: -webkit-fill-available;
    width: -moz-available;
    width: fill-available;
    border: 1px solid black;
}

#top-right li.menuList, li.menuList span{
    display: block;
    padding:0.3em;
    width: 91%;
    width: -webkit-fill-available;
    width: -moz-available;
    width: fill-available;
    border: 1px solid black;
    
}

#top-right li{
    border-radius: 0.4em 0.4em 0em 0em;
}

#top-right li > a{
    border-radius: 0.4em 0.4em 0em 0em;
}
#top-right li > span > a {
    border-radius:  0em 0em 0.4em 0.4em;
}

#top-right li.menuList span{
    border-radius: 0em 0em 0.4em 0.4em;
}

#top-right li.menuList.menuLogInUt{
    display:block;
    padding: 0;
    border: none;
    border-radius: 0em 0em 0.4em 0.4em;
}

.menuLogOutUt {
    display:block;
    padding: 0;
    border: none;
}

.menuLogDesk {
    position: relative;
    bottom: initial;
}


nav  ul{
    list-style-type: none;
    display:none;
}

nav {
    display: flex;
}

h2 {
    color: var(--secondaryColor);
    text-align: center;
    margin-top: 2em;
    margin-bottom: 1em;
}

main {
    margin: 2.5em;
}

#menu {
    background-color: var(--secondaryColor);
    /* font-size: 1.1em; */
    width: 35%;
    flex: auto;
    float: left;
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

#menu a:link{
    color: var(--linkDarkBackground);
}

#menu a:visited{
    color: var(--mainColor);
}

.buttonMenu {
    background-color: var(--secondaryColor);
    color: var(--mainColor);
    font-weight: bold;
    align-items: center;
    position: relative;
    cursor: pointer;
    border: none;
    padding: 0.9em 1em 0.9em 1em;
    width: 100%;
}


.menuCont {
    background-color: var(--secondaryColor);
    color: var(--mainColor);
    position: absolute;
    width: 33.9%;
    width: -webkit-fill-available;
    width: -moz-available;
    width: fill-available;
    margin: auto;
    border: 1px solid white;
}

.menuCont li{
    padding: 0.2em 0em 0.2em 0em;
    border: 1px solid white;
}

.menuCont li a{
    display: block;
    width: 100%;
}

.breadcrumb {
    display: block;
    font-size: 1.1em;
    background-color: var(--mainColorAlpha);
    color: black;
    /* font-size: large; */
    padding: 0.5em 1em 0.5em 1em;
    width: 65%;
    flex: auto;
    float: left;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.bredcrumb > p {
    margin-top:auto;
}

.breadcrumb a:link{
    color:var(--linkClearBackground);
}

/* .breadcrumb a:visited{ */
#mini_breadcrumb{
    display: none;
    background-color: var(--mainColorAlpha);
    color: black;
    font-size: 1em;
    padding: 0.5em 0em 0.5em 1.0em;
}

.breadcrumb > p {
    margin-top:auto;
}

.breadcrumb a:visited, #mini_breadcrumb a:visited{
    color: var(--breadcrumbVisitedLink);
}

table,th,td{
    border:1px solid #000;
    border-collapse: collapse;
}

th, td{
    padding: 0.5em;
}

::placeholder {
    color: #000;
    opacity: 1; /* Per Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #000;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
   color: #000;
  }

.contenitore_carte>li,
.contenitore_carte>div>dt,
.item-footer>dt{
    font-size: 1em;
    font-weight: bold;
    text-align: center;
}

.hide{
    display: none;
}

.show{
    display: block ;
}

.contenitore_carte{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;  
    list-style-type: none;
}

.contenitore_carte > li, .contenitore_carte > div{
    margin: 1em 1em 4em 1em;
    padding: 10px;
/*    border-radius: 15px;*/
    flex: 1 1 20em;
    max-width: 53em;
}

.contenitore_carte a:link{
    color:var(--linkClearBackground);
}

.contenitore_carte a:visited{
    color: var(--visitedLinkClearBackground);
}

.carta{
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    border: 1px solid black;
    min-height: 12em;    /* Dipendiamo dalle macchine (da questa riga in particolare)*/
    padding: 1em 1em 0em 1em;
    border-radius: 1em;
    max-width: 100%;
    height: 100%;
    color: rgba(0,0,0,0);
}

.carta li, .bulletNone{
    margin-left: 1em;
}

.carta:hover{
    color: black;
}
 
.error{
    text-align: center;
}

.centrato{
    text-align: center;
}

footer{
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #ffcc99;
    margin-top: 2em;
}

table th {
    background-color: var(--mainColorAlpha);
}

footer a:link{
    color: var(--linkClearBackground);
}

footer a:visited{
    color: var(--visitedLinkClearBackground);
}

.contenitore-footer {
    display: flex;
    flex-wrap: wrap;
    max-width: 50em;
    margin: 0 auto;
}

.item-footer {
    flex: 1 1 10em;
    margin: 1em 1em ;
    /* border: 1px solid black; */
    white-space: nowrap;
    max-width: 100%;
}

.item-footer>dd{
    text-align: center;
    /* border: 1px solid black; */
}

.item-footer table, #tabPrenAmm, #tabClienti, #tabellaPrenotazioniUtente{
    margin: 0 auto;
    /* border-bottom: hidden; */
    border-left:hidden;
    border-right: hidden;
}

.item-footer table tr th, #tabPrenAmm tr th, #tabClienti  tr th, #tabellaPrenotazioniUtente  tr th{
    border: 2px black solid;
}

.item-footer tr:nth-child(even){
    background-color: #ffe0c1;
}

#tabPrenAmm tr:nth-child(odd), #tabClienti  tr:nth-child(odd),#tabellaPrenotazioniUtente  tr:nth-child(odd){
    background-color: #ffeede;
}

.item-footer table th, .item-footer table td{
    padding: 0.5em 1.5em 0.5em 1.5em;
}

.item-footer table>caption{
    font-weight: bold;
    font-size: 1em;
}

#trattamenti{
    background-image:url("../IMG/INDEX/TRATTAMENTI_MACCHINARI/trattamentiMacchinari.jpeg") ;
}

#trattamenti:hover, #trattamenti:active{
    background-image:url("../IMG/INDEX/TRATTAMENTI_MACCHINARI/trattamentiMacchinari-zoom.jpeg") ;
}

#consulenze{
    background-image:url("../IMG/INDEX/CONSULENZE/consulenze.jpeg") ;
}

#consulenze:hover, #consulenze:active{
    background-image:url("../IMG/INDEX/CONSULENZE/consulenze-zoom.jpeg") ;
}

#prenotazione{
    background-image:url("../IMG/INDEX/CALENDARIO/calendario.jpeg") ;
}

#prenotazione:hover, #prenotazione:active{
    background-image:url("../IMG/INDEX/CALENDARIO/calendario-zoom.jpeg") ;
}

#viso{
    background-image:url("../IMG/TRATTAMENTI_MACCHINARI/VISO/Viso.jpeg") ;
}

#viso:hover, #viso:active{
    background-image:url("../IMG/TRATTAMENTI_MACCHINARI/VISO/Viso-zoom.jpeg") ;
}

#corpo{
    background-image:url("../IMG/TRATTAMENTI_MACCHINARI/CORPO/Corpo.jpeg") ;
}

#corpo:hover, #corpo:active{
    background-image:url("../IMG/TRATTAMENTI_MACCHINARI/CORPO/Corpo-zoom.jpeg") ;
}

#macchinari{
    background-image:url("../IMG/TRATTAMENTI_MACCHINARI/MACCHINARI/macchinari.jpeg") ;
}

#macchinari:hover, #macchinari:active{
    background-image:url("../IMG/TRATTAMENTI_MACCHINARI/MACCHINARI/macchinari-zoom.jpeg") ;
}

#puliziaViso{
    background-image: url("../IMG/VISO/PULIZIA_VISO/Viso.jpeg");
}


#puliziaViso:hover{
    background-image: url("../IMG/VISO/PULIZIA_VISO/Viso-opaco60.jpeg");
}

#idratazione{
    background-image:url("../IMG/VISO/TRATTAMENTI_IDRATANTI/idratanti.jpeg") ;
}


#idratazione:hover{
    background-image:url("../IMG/VISO/TRATTAMENTI_IDRATANTI/idratanti-opaco60.jpeg") ;
}

#antiage{
    background-image:url("../IMG/VISO/ANTI-AGE/antiage.jpeg") ;
}

#antiage:hover{
    background-image:url("../IMG/VISO/ANTI-AGE/antiage-opaco60.jpeg") ;
}

#effettoLifting{
    background-image:url("../IMG/VISO/EFFETTO_LIFTING/liftingeffect.jpeg") ;
}

#effettoLifting:hover{
    background-image:url("../IMG/VISO/EFFETTO_LIFTING/liftingeffect-opaco60.jpeg") ;
}

#rimpolpanti{
    background-image:url("../IMG/VISO/TRATTAMENTI_RIMPOLPANTI/rimpolpanti.png") ;
}

#rimpolpanti:hover{
    background-image:url("../IMG/VISO/TRATTAMENTI_RIMPOLPANTI/rimpolpanti-opaco60.png") ;
}

#sebo-regolatori{
    background-image:url("../IMG/VISO/TRATTAMENTI_SEBO-REGOLATORI/seboregolatori.jpeg") ;
}


#sebo-regolatori:hover{
    background-image:url("../IMG/VISO/TRATTAMENTI_SEBO-REGOLATORI/seboregolatori-opaco60.jpeg") ;
}

#desensibilizzanti{
    background-image:url("../IMG/VISO/TRATTAMENTI_DESENSIBILIZZANTI/desensibilizzante.jpeg") ;
}

#desensibilizzanti:hover{
    background-image:url("../IMG/VISO/TRATTAMENTI_DESENSIBILIZZANTI/desensibilizzante-opaco60.jpeg") ;
}

#epilazione{
    background-image:url("../IMG/CORPO/EPILAZIONE/epilazione.jpeg") ;
}

#epilazione:hover, #epilazione:active{
    background-image:url("../IMG/CORPO/EPILAZIONE/epilazione-zoom.jpeg") ;
}

#massaggio{
    background-image:url("../IMG/CORPO/MASSAGGIO/massaggio.jpeg") ;
}

#massaggio:hover, #messaggio:active{
    background-image:url("../IMG/CORPO/MASSAGGIO/massaggio-zoom.jpeg") ;
}

#manicurePedicure{
    background-image:url("../IMG/CORPO/MANICURE_PEDICURE/manicure.jpeg") ;
}

#manicurePedicure:hover, #manicurePedicure:active{
    background-image:url("../IMG/CORPO/MANICURE_PEDICURE/manicure-zoom.jpeg") ;
}

#lucePulsata{
    background-image: url("../IMG/MACCHINARI/LUCE_PULSATA/pulsata.jpeg");
}

#lucePulsata:hover{
    background-image: url("../IMG/MACCHINARI/LUCE_PULSATA/pulsata-opaco60.jpeg");
}

#radiofrequenza{
    background-image:url("../IMG/MACCHINARI/RADIOFREQUENZA/radiofrequenza.jpeg") ;
}

#radiofrequenza:hover{
    background-image:url("../IMG/MACCHINARI/RADIOFREQUENZA/radiofrequenza-opaco60.jpeg") ;
}

#ultrasuoni{
    background-image:url("../IMG/MACCHINARI/ULTRASUONI/ultrasuoni.jpeg") ;
}

#ultrasuoni:hover{
    background-image:url("../IMG/MACCHINARI/ULTRASUONI/ultrasuoni-opaco60.jpeg") ;
}

#elettrocoagulatore{
    background-image:url("../IMG/MACCHINARI/ELETTROCOAGULATORE/elettrocoagulatore.jpeg") ;
}

#elettrocoagulatore:hover{
    background-image:url("../IMG/MACCHINARI/ELETTROCOAGULATORE/elettrocoagulatore-opaco60.jpeg") ;
}

#elettroscultore{
    background-image:url("../IMG/MACCHINARI/ELETTROSCULTORE/elettroscultore.jpeg") ;
}

#elettroscultore:hover{
    background-image:url("../IMG/MACCHINARI/ELETTROSCULTORE/elettroscultore-opaco60.jpeg") ;
}

#elettroporatore{
    background-image:url("../IMG/MACCHINARI/ELETTROPORATORE/elettroporatore.jpeg") ;
}


#elettroporatore:hover{
    background-image:url("../IMG/MACCHINARI/ELETTROPORATORE/elettroporatore-opaco60.jpeg") ;
}

#pressoterapia{
    background-image:url("../IMG/MACCHINARI/PRESSOTERAPIA/pressoterapia.jpeg") ;
}


#pressoterapia:hover{
    background-image:url("../IMG/MACCHINARI/PRESSOTERAPIA/pressoterapia-opaco60.jpeg") ;
}

#brush{
    background-image:url("../IMG/MACCHINARI/BRUSH/brush.jpeg") ;
}


#brush:hover{
    background-image:url("../IMG/MACCHINARI/BRUSH/brush-opaco60.jpeg") ;
}

#massaggioEndodermico{
    background-image:url("../IMG/MACCHINARI/MASSAGGIO_ENDODERMICO/endodermico.jpeg") ;
}


#massaggioEndodermico:hover{
    background-image:url("../IMG/MACCHINARI/MASSAGGIO_ENDODERMICO/endodermico-opaco60.jpeg") ;
}

#ceretta{
    background-image:url("../IMG/CORPO/EPILAZIONE/CERETTA/ceretta.jpeg") ;
}


#ceretta:hover{
    background-image:url("../IMG/CORPO/EPILAZIONE/CERETTA/ceretta-opaco60.jpeg") ;
}

#brasiliana{
    background-image:url("../IMG/CORPO/EPILAZIONE/BRASILIANA/brasiliana.jpeg") ;
}


#brasiliana:hover{
    background-image:url("../IMG/CORPO/EPILAZIONE/BRASILIANA/brasiliana-opaco60.jpeg") ;
}

#pastaZucchero{
    background-image:url("../IMG/CORPO/EPILAZIONE/PASTA_ZUCCHERO/pastaDiZucchero.jpeg") ;
}


#pastaZucchero:hover{
    background-image:url("../IMG/CORPO/EPILAZIONE/PASTA_ZUCCHERO/pastaDiZucchero-opaco60.jpeg") ;
}

#rilassante{
    background-image: url("../IMG/CORPO/MASSAGGIO/RILASSANTE/rilassante.jpeg");
}


#rilassante:hover{
    background-image: url("../IMG/CORPO/MASSAGGIO/RILASSANTE/rilassante-opaco60.jpeg");
}

#olistico{
    background-image: url("../IMG/CORPO/MASSAGGIO/OLISTICO/olistico.jpeg");
}


#olistico:hover{
    background-image: url("../IMG/CORPO/MASSAGGIO/OLISTICO/olistico-opaco60.jpeg");
}

#decontratturante{
    background-image: url("../IMG/CORPO/MASSAGGIO/DECONTRATTURANTE/decontratturante.jpeg");
}


#decontratturante:hover{
    background-image: url("../IMG/CORPO/MASSAGGIO/DECONTRATTURANTE/decontratturante-opaco60.jpeg");
}

#tonificante{
    background-image: url("../IMG/CORPO/MASSAGGIO/TONIFICANTE/tonificante.jpeg");
}

 
#tonificante:hover{
    background-image: url("../IMG/CORPO/MASSAGGIO/TONIFICANTE/tonificante-opaco60.jpeg");
}

#linfodrenante{
    background-image: url("../IMG/CORPO/MASSAGGIO/LINFODRENANTE_EMOLINFATICO/linfo.jpeg");
}


#linfodrenante:hover{
    background-image: url("../IMG/CORPO/MASSAGGIO/LINFODRENANTE_EMOLINFATICO/linfo-opaco60.jpeg");
}

#modellante{
    background-image: url("../IMG/CORPO/MASSAGGIO/MODELLANTE/modellante.jpeg");
}


#modellante:hover{
    background-image: url("../IMG/CORPO/MASSAGGIO/MODELLANTE/modellante-opaco60.jpeg");
}

#posa{
    background-image: url("../IMG/CORPO/MANICURE_PEDICURE/SMALTO/smalto.jpeg");
}


#posa:hover{
    background-image: url("../IMG/CORPO/MANICURE_PEDICURE/SMALTO/smalto-opaco60.jpeg");
}

#semipermanente{
    background-image: url("../IMG/CORPO/MANICURE_PEDICURE/SEMIPERMANENTE/semipermanente.jpeg");
}


#semipermanente:hover{
    background-image: url("../IMG/CORPO/MANICURE_PEDICURE/SEMIPERMANENTE/semipermanente-opaco60.jpeg");
}

#gel{
    background-image: url("../IMG/CORPO/MANICURE_PEDICURE/GEL/gel.jpeg");
}


#gel:hover{
    background-image: url("../IMG/CORPO/MANICURE_PEDICURE/GEL/gel-opaco60.jpeg");
}

#curativa{
    background-image: url("../IMG/CORPO/MANICURE_PEDICURE/CURATIVA/curativa.jpeg");
}

#curativa:hover{
    background-image: url("../IMG/CORPO/MANICURE_PEDICURE/CURATIVA/curativa-opaco60.jpeg");
}

#contain {
    display: flex;
    /* text-align: center; */
}

#registrazione, #accesso, .sezionePUtente, #gestionePrenotazione, #visualizzazionePrenotazione{
    flex: auto;
}

#signup, .sezionePUtente dl, #insertRes{
    border-right: 1px solid black;
}

#signup, #login, .sezionePUtente dl, #changePsw, #insertRes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2em 2em 0em 2em;
    row-gap: 0.5em;
}

#prenotazioniUtente, #prenotazioniAmministratore{
    padding: 2em 2em 0em 2em;
}

#nameLabel, #surnameLabel, #birthLabel, #emailLabel, #phoneLabel, #userLabel, #passwordPers1Label, #passwordPers2Label, #utenteLabel, #password1Label, #password2Label, #dateLabel, #hourLabel, #serviceLabel, #customersAdminLabel, #dateAdminLabel, #hourAdminLabel, #serviceAdminLabel{
    grid-column: 1;
    margin-bottom: 0.5em;
}

#mostraPswR, #mostraPswA, #updateButton, .print-invisible, #mostraPsw1, #mostraPsw2, #loginKo, #adminReservationButton{
    grid-column: 1/3;
}

.print-errorText{
    margin-bottom: 1em;
}

#name, #surname, #birth, #email, #phone, #username, #usernameLogin, #passwordPers1, #passwordPers2, #password1, #password2, #date, #hour, #service, #customers, #dateAdmin, #hourAdmin, #serviceAdmin{
    grid-column: 2;
    margin-bottom: 0.5em;
}

#name, #nameLabel, #usernameLogin, #utenteLabel, #dateLabel, #date, #passwordPers1, #passwordPers1Label, #customers, #customersAdminLabel{
    grid-row: 1;
}

#surname, #surnameLabel, #mostraPsw1, #hourLabel, #hour, #password2, #password2Label, #dateAdmin, #dateAdminLabel{
    grid-row: 2;
}

#birth, #birthLabel, #mostraPswA, #serviceLabel, #service, #passwordPers2, #passwordPers2Label, #hourAdmin, #hourAdminLabel{
    grid-row: 3;
}

#email, #emailLabel, #mostraPsw2, #loginKo, #serviceAdmin, #serviceAdminLabel{
    grid-row: 4;
}

#phone, #phoneLabel{
    grid-row: 5;
}

#username, #userLabel, #updateButton{
    grid-row: 6;
}

#password1, #password1Label{
    grid-row: 7;
}

#mostraPswR{
    grid-row: 8;
}

#mostraPswR, #mostraPswA, #mostraPsw1, #mostraPsw2{
    text-align: right;
    font-size: 0.9em;
    margin-bottom: 0.5em;
}

#registerButton, #accessButton, #confirmButton, #updateButton, #userReservationButton, #adminReservationButton{
    margin-top: 1em;
    padding: 0.3em;
}

/**
#signup label, #login label{
    margin-top: 2em;
    text-align: left;
    margin-left: 10%;
}

#signup input, #login input{
    margin-left:auto;
    margin-right: 10%;
} **/

#help{
    margin-top: 2em;
    text-align: center;
}

#descrTabPrenAmm{
    margin-bottom: 1em;
}

.textbox-n{
    max-width:6em;
}