header, main, footer, #menu {
    font-size: 1.3em;
}

form input, form select{
    font-size: 0.8em;
}

.breadcrumb, #mini_breadcrumb {
    font-size: 1.4em;
}

.buttonMenu {
    font-size: 0.8em;
}

.contenitore_carte dt, h2{
    font-size: 2em; 
}

.contenitore_carte>li,
.contenitore_carte>div>dt,
.item-footer>dt{
    font-size: 1.1em;
}

main{
    max-width: 1500px;
    margin-right: auto;
    margin-left: auto;
}


@media screen and (max-width:1500px) {
    nav:not(#top-right) {
        display: block;
    }

    h2{
        font-size: 1.5em;
    }
    
    .breadcrumb, #menu {
        width: auto;
        float:none;
        flex:none;
        text-align: center;
        border-left: none;
        border-right: none;
    }    

    #loginMenu{
        position: relative; 
    }
    
    .breadcrumb {
       border-bottom: none;
    }
    
    #menu {
        margin-bottom: 3em;
    }
    
    header {
        padding: 0em;
        margin: 0em;
    }
    
    main {
        margin: 3em;
    }
}

@media screen and (max-width:1120px) {

    #menu {
        margin-bottom: 6em;
    }

    footer{
        font-size: 1.1em;
    }

    #contain{
        display: block;
        /* text-align: center; */
    }
    
    #help{
        margin-top: 3em;
    }
    
    #signup, #login, #changePsw, #datiUtente,.sezionePUtente dl, #insertRes{
        border: 1px solid black;
        padding: 1.1em 1em 1em 0.9em;
        text-align: center;
    }

    #prenotazioniUtente, #prenotazioniAmministratore{
        padding: 0em;
    }


    #tabellaPrenotazioniUtente thead, #tabellaPrenotazioniUtente tfoot, #tabellaPrenotazioniAmministratore thead, #tabellaPrenotazioniAmministratore tfoot, #tabClienti thead, #tabClienti tfoot{
        display: none;
    }

    #tabellaPrenotazioniUtente tr, #tabellaPrenotazioniUtente th, #tabellaPrenotazioniUtente td, #tabellaPrenotazioniAmministratore tr, #tabellaPrenotazioniAmministratore th, #tabellaPrenotazioniAmministratore td, #tabClienti tr, #tabClienti th, #tabClienti td {
        display: block;
    }

    #tabellaPrenotazioniUtente th[data-title]:before, #tabellaPrenotazioniUtente td[data-title]:before, #tabellaPrenotazioniAmministratore th[data-title]:before, #tabellaPrenotazioniAmministratore td[data-title]:before, #tabClienti th[data-title]:before, #tabClienti td[data-title]:before{
        content: attr(data-title) "\00A0";
        font-weight: bold;
    }

    .header{
        background-color: var(--mainColorAlpha);
        border: none;
        border-bottom: 1px solid black;
        border-top: 1px solid black;
        font-weight: bold;
    }

    #tabellaPrenotazioniUtente, #tabClienti{
        border: 2px solid black;
        border-top: none;
        margin-bottom: 4em;
     }
 
     #tabellaPrenotazioniUtente td:not(.header), #tabellaPrenotazioniAmministratore td:not(.header), #tabClienti td:not(.header) {
        border:none;
        border-top: 1px solid black;
    }

    #signup label, #login label, #insertRes label, #datiUtente label, #changePsw label{
        margin-right: 1em;
    }

    #signup input, #login input, #insertRes input, #datiUtente input, #changePsw input{
        margin-right: 1em;
    }

    #registrazione, #accesso, #userData, #cambioPassword{
        flex: none;
    }
    
    #mini_breadcrumb{
        display: block;
        text-align: center;
    }

    /* #top-right{
        position: fixed;
        right: 2em;
        bottom: 2em;
        z-index: 10;
    } */

    /*.menuLogMob {
        position: fixed;
        bottom: 2em;
        right: 2em;
        top: initial;
        z-index: 10;
    }*/
    
    /* .menuLogMobStop {
        position: absolute;
        top: initial;
        right: 2em;
    } */
    

    #loginMenu{
        position: relative; 
    }

    /* #top-right{
        display: none;
    } */

    /* #loginMenu{
        width: 100%;
        display: flex;
        align-content: center;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }

    #loginMenu li{
        display: inline;
        padding: 0.5em 1em 0.5em 1.0em;
        margin: 0em auto 0em auto;
    } */

    main {
        margin: 1em;
    }

    .contenitore_carte > li, .contenitore_carte > div{
        margin: 1em 0em 4em 0em;
    }

    .item-footer table th, .item-footer table td, #tabellaPrenotazioniAmministratore th, #tabClienti  th, #tabellaPrenotazioniUtente  th, #tabellaPrenotazioniAmministratore td, #tabClienti  td, #tabellaPrenotazioniUtente  td{
        padding: 0.3em;
    }

    #big_breadcrumb {
        display: none;
    }

    #service{
        max-width: 35vw;
    }

    #separator{
    border-right: 1px solid black;
}

}